<div class="container">
    <div class="section">
        <div class="details">
            <div class="panel-heading">
                <h3>Flight Summary</h3>
            </div>
            <div class="body-panel"> 
                <div class="img">
                    <img src="../assets/img/logo_plane.jpg" alt="">
                </div>
                <div class="option">
                    <div class="option-container">
                        <div class="option-subtitle">Origin:</div>
                        <div class="option-data">Warsaw</div>
                    </div>
                </div>
                <div class="option">
                    <div class="option-container">
                        <div class="option-subtitle">Destination:</div>
                        <div class="option-data">Vienna</div>
                    </div>
                </div>
                <div class="option">
                    <div class="option-container">
                        <div class="option-subtitle">Departure date:</div>
                        <div class="option-data">25-05-2023</div>
                    </div>
                </div>
                <div class="option">
                    <div class="option-container">
                        <div class="option-subtitle">Return date:</div>
                        <div class="option-data">25-05-2023</div>
                    </div>
                </div>
                <div class="option">
                    <div class="option-container">
                        <div class="option-subtitle">Passengers:</div>
                        <div class="option-data">2</div>
                    </div>
                </div>
                <div class="option">
                    <div class="option-container">
                        <div class="option-subtitle">Class:</div>
                        <div class="option-data">Economy</div>
                    </div>
                </div>
                <div class="option">
                    <div class="option-container">
                        <div class="option-subtitle">Seats:</div>
                        <div class="option-data">3A 5B</div>
                    </div>
                </div>
                <div class="option">
                    <div class="option-container">
                        <div class="option-subtitle">Baggage:</div>
                        <div class="option-data">Cabin</div>
                    </div>
                </div>
                <div class="option">
                    <div class="option-container">
                        <div class="option-subtitle cost">Cost:</div>
                        <div class="option-data cost">300 PLN</div>
                    </div>
                </div>            
                <div class="barcode"><img src="../assets/img/barcode.jpg" alt=""></div>
                
            </div>
            <div class="button"><button type="submit" class="btn btn-block mt-4">Pay</button></div>
        </div>   
    </div>
</div>











