<div class="container">
    <div class="section">
        <div class="text">
            <h2 class="alert">ERROR 404</h2>
            <h5>The requested URL was not found on this server.</h5>
        </div>
        <div class="img">
            <img src="../../../assets/img/page_not_found.jpg" alt="obrazek ktorego nie widze">
        </div>
        
        <div class="button">
            <button type="button" class="btn" [routerLink]="['/home']">Go to home page</button>
        </div>
    </div>
</div>


