$red-color: #ff5156;
$rosy-color: #fe6587;
$white-color: #ffff;

$navy-accent-color: #15294b;
$grey-accent-color: #868a9a;
$grey2-accent-color: #383949;

select {
    padding-top: 3px;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: #ebebeb;
    color: $red-color;
    font-weight: bold;
}