$red-color: #ff5156;
$rosy-color: #FE6587;
$white-color: #FFFF;

$navy-accent-color: #15294b;
$light-grey-color: #f5f5f5;
$grey-accent-color: #868A9A;
$grey2-accent-color: #383949;

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.section {
    color: $navy-accent-color;
    .form {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        align-content: center;
        width: 1300px;
        height: 500px;
        background-color: $white-color;
        box-shadow: 0px 0px 22px 0px rgba(134, 138, 154, 0.5);
        border-radius: 22px;

        .img {
            padding: 50px;
        }

        .text {
            display: flex;
            flex-direction: column;
            justify-content: center;
            
            .title {
                text-align: center;
                border-radius: 5px;
                h3 {
                    padding-bottom: 30px;
                    font-size: 1.8em;
                    font-weight: bold;
                }
            }

            .form-in {
                padding: 10px;
                border: 2px solid #ebebeb;
                border-radius: 10px;
                box-shadow: 0px 0px 22px 0px rgba(134, 138, 154, 0.5);
                
                .first-row, .second-row, .third-row {
                    display: flex;
                    // flex-wrap: wrap;
                    padding: 15px;
                    justify-content: space-between;
                    align-items: center;
                    
                    .fa-arrow-right-arrow-left {
                        padding: 9px;
                        font-size: 1.2em;
                        background-color: $red-color;
                        border-radius: 4px;
                    }
                    .input-field {
                        border-radius: 5px;
                        padding: 5px;
                        display: flex;
                        align-items: center;
                        background-color: #f5f5f5;
                    }
                    
                    span {
                        color: $red-color;
                    }
                    label {
                        width: 70%;
                    }
                    input, select {
                        padding-left: 5px;
                        cursor: pointer;
                        border: none;
                        outline: none;
                        width: 100%;
                        background-color: #f5f5f5;
                    }

                    input[type="date"], select {
                        color:$navy-accent-color;
                        font-size: 1em;
                    }
                }
            }   

            .btn {
                transition: transform 0.3s;
                margin-top: 30px;
                color: $white-color;
                width: 800px;
                font-size: 1.3em;
                background-color:$red-color;
                border-color: $red-color;
            }

            .btn:hover {
                transform: scale(1.03);
            }
        }
    }
}
