<div class="container">
    <div class="section">
        <div class="form">
            <div class="panel">
                <div class="panel-heading">
                    <h3>Login</h3>
                </div>
                <div class="img">
                    <img src="../assets/img/icon_log_in.jpg" alt="">
                </div>
                <div class="panel-body">
                    <form [formGroup]="loginForm" >
                        <div class="form-group pt-3">
                            <div class="input-field">
                                <span class="fa fa-user p-2"></span>
                                <input formControlName="username" type="text" placeholder="Username">
                            </div>
                        </div>
                        <small *ngIf="loginForm.controls['username'].dirty && loginForm.hasError('required','username')">*Username is required</small>
                        <div class="form-group pt-3">
                            <div class="input-field">
                                <span class="fa fa-lock p-2"></span>
                                <input formControlName="password" [type]="type" placeholder="Password">
                                <span (click)="hideShowPass()" class="fa {{eyeIcon}}"></span>
                            </div>    
                        </div>
                        <small *ngIf="loginForm.controls['password'].dirty && loginForm.hasError('required','password')">*Password is required</small>
                        <div class="form-inline fr mt-4">
                            <a id="forget" class="font-weight-bold">Forget Password?</a>
                        </div>
                        <button type="submit" class="btn btn-block mt-4 w-100">Login</button>
                        <div id="account" class="text-center pt-3 text-muted">Don't have account? <a id="forget" [routerLink]="['signup']">Sign Up</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>   
    </div>
</div>
