<div class="container">
    <div class="section">  
        <div class="form">
            <div class="title">
                <h3>Log In</h3>
            </div>    
            <div class="img">
                 <img src="../assets/img/icon_log_in.jpg" alt="">
            </div>
            
            <h5>Let's Sign in</h5>
            <p>Welcome back, you've been missed!</p>
            
            <form>
                <label for="login"><i class="fas fa-user"></i></label>
                <input type="text" id="login" placeholder="login">
                <label for="password"><i class="fas fa-lock"></i></label>
                <input type="password" id="password" placeholder="password">


                <button type="button" class="btn slice">Login</button>
            </form>
          
        </div>
    </div>
</div>
