
  <div class="nav">
    <nav id="navbar" class="navbar navbar-expand-lg position-fixed top-0 w-100 py-3">
      <div class="container">
        <a class="navbar-brand" href="#"><img src="assets/logo.jpg" alt="" width="30%" height="30%"> NOVO Air Flight</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fa-solid fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav ms-auto">
            <a class="nav-link active" href="#home">Home</a>
            <a class="nav-link" href="#aboutus">About</a>
            <a class="nav-link" href="sales">Sales</a>
            <a class="nav-link" href="#contact">Contact</a>
            <a class="nav-link" href="#search"><i class="fa-sharp fa-solid fa-magnifying-glass"></i></a>
            <a class="nav-link" href="#login"><i class="fa-solid fa-user"></i></a>
            <a class="nav-link" href="#shopping"><i class="fa-solid fa-cart-shopping"></i></a>
          </div>
        </div>
      </div>
    </nav>
  </div>
  
  <div class="header">
    
      <div class="form">
        <div class="img">
          <img src="../assets/icon_welcome.jpg" alt="">
        </div>
        <div class="text">
          <h2>Formularz</h2>
        </div>
      </div>
    
  </div>
  
  <div class="footer">
  </div>

  

  <router-outlet></router-outlet>