
  <div class="nav">
    <div class="before">a</div>
    <nav id="navbar" class="navbar navbar-expand-lg position-fixed top-0 w-100 py-3 position-fixed w-100">
      <div class="container">
        <a class="navbar-brand" href="#"> <span>Novo</span>  Flight Booking</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fa-solid fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav ms-auto">
            <a class="nav-link active" href="#home">Home</a>
            <a class="nav-link" href="#aboutus">About Us</a>
            <a class="nav-link" href="sales">Sales</a>
            <a class="nav-link" href="#contact">Contact</a>
            <a class="nav-link" href="#search"><i class="fa-sharp fa-solid fa-magnifying-glass"></i></a>
            <a class="nav-link" href="#shopping"><i class="fa-solid fa-cart-shopping"></i></a>
            <a class="nav-link" href="#login" type="button"class="btn btn-outline-light">login <i class="fa-solid fa-user"></i></a> 
          </div>
        </div>
      </div>
    </nav>
  </div>
  
  <div class="section">
    
      <div class="form">Formularz</div>
    
  </div>
 

  <router-outlet></router-outlet>