@import 'colors';


.nav {
    text-transform: uppercase;
    
    a, i {
        color: $white-color;
    }
    i {
        padding: 4px;
    }
    a:hover, i:hover {
        color: $navy-accent-color;
    }
    .navbar-brand {
        font-weight: bold;
    }
    .fa-bars {
        padding: 10px;
    }
    .active, span {
        color: $navy-accent-color;
    }
    img {
        padding: 10px;
    }
}

.navbar {
    background-color: rgba(86, 194, 232, 1);
    background-image: radial-gradient(circle, rgba(86, 194, 232, 1) 0%, rgba(0, 169, 209, 1) 100%);
    -webkit-box-shadow: 0px 16px 24px 0px rgba(71, 122, 169, 1);
    -moz-box-shadow: 0px 16px 24px 0px rgba(71, 122, 169, 1);
    box-shadow: 0px 16px 24px 0px rgba(71, 122, 169, 1);
}

.section {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $navy-accent-color;
    height: 900px;

    .form {
    width: 800px;
    height: 257px;
    background-color: $white-color;
    border-radius: 20px;
    -webkit-box-shadow: 8px 8px 24px -12px rgba(66, 68, 90, 1);
    -moz-box-shadow: 8px 8px 24px -12px rgba(66, 68, 90, 1);
    box-shadow: 8px 8px 24px -12px rgba(66, 68, 90, 1);
    }
}


