
.container {
    display: flex;
    justify-content: left;
    align-items: center;
    height: 1400px;
    width: 1300px;
    background-image: url(../../../assets/img/plane1_beztła_jasne.png);
    background-position: 43% 23%;
    background-size: 400%;
        p {
            text-align: center;
        }
}