<div class="container">
    <div class="details">
        <div class="panel-heading">
            <h3>Flight Details</h3>
        </div>
        <div class="option">
            <div class="option-container">
                <span class="fas fa-plane-departure p-2"></span>
                <h6 class="option-subtitle">Origin:</h6>
                <div class="option-data">{{flight.from}}</div>
                <div class="loading-spinner"></div>
            </div>
        </div>
        <div class="option">
            <div class="option-container">
                <span class="fas fa-plane-arrival p-2"></span>
                <h6 class="option-subtitle">Destination:</h6>
                <div class="option-data">Vienna</div>
                <div class="loading-spinner"></div>
            </div>
        </div>
        <div class="option">
            <div class="option-container">
                <span class="fas fa-calendar-alt p-2"></span>
                <h6 class="option-subtitle">Departure:</h6>
                <div class="option-data">25-05-2023</div>
                <div class="loading-spinner"></div>
            </div>
        </div>
        <!-- <div class="option">
            <div class="option-container">
                <span class="fas fa-calendar-alt p-2"></span>
                <h6 class="option-subtitle">Return:</h6>
                <div class="option-data">25-05-2023</div>
                <div class="loading-spinner"></div>
            </div>
        </div> -->
        <div class="option">
            <div class="option-container">
                <span class="fa fa-user p-2"></span>
                <h6 class="option-subtitle">Passengers:</h6>
                <div class="option-data">2</div>
                <div class="loading-spinner"></div>
            </div>
        </div>
        <div class="option">
            <div class="option-container">
                <span class="fas fa-plane p-2"></span>
                <h6 class="option-subtitle">Class:</h6>
                <div class="option-data">Economy</div>
                <div class="loading-spinner"></div>
            </div>
        </div>
        <div class="option">
            <div class="option-container">
                <span class="fa fa-suitcase p-2"></span>
                <h6 class="option-subtitle">Baggage:</h6>
                <div class="option-data">
                    <select>
                        <option value="choose" disabled selected>Choose</option>
                        <option value="cabin"> Cabin </option>
                        <option value="cabin-checked"> Cabin & checked </option>
                    </select>
                </div>
            </div>
        </div>
        <small>* Selection is required</small>
        <div class="option summary-cost">
            <div class="option-container">
                <span class="fa fa-money p-2"></span>
                <h6 class="option-subtitle cost-title">Cost:</h6>
                <div class="option-data cost">300</div>
                <div class="currency">
                    <app-currency-converter></app-currency-converter>
                </div>

            </div>
        </div>

        <button type="order" class="btn btn-order btn-block w-100" (click)="redirectTo('/flight-summary')">Order
            tickets</button>
    </div>
    <div class="planes">
        <div class="planes-details"><app-plane-embraer190 [flightId]="flightId"></app-plane-embraer190></div>
    </div>
</div>