$red-color: #ff5156;
$rosy-color: #fe6587;
$white-color: #ffff;

$navy-accent-color: #15294b;
$grey-accent-color: #868a9a;
$grey2-accent-color: #383949;

.container {
    display: flex;
    padding: 80px 0px;
    // height: calc(100vh - 150px);
    
    .details {
        overflow-y: auto;
        max-height: 100vh;
        flex-basis: 400px;
        background-color: #ffff;
        box-shadow: 0px 0px 22px 0px rgba(134, 138, 154, 0.5);
        border-radius: 22px 0px 0px 22px;
        padding: 40px;
        text-align: center;

      .panel-heading {
        padding: 30px;
        font-size: 1.8em;
        font-weight: bold;
      }

      .option {
        padding: 8px;
        // background-color: #ebebeb;

          .option-container {
              display: flex;
              flex-direction: row;
              // flex-wrap: wrap;
              justify-content: flex-start;
              align-items: center;
              // align-content: flex-start;
              // background-color: #ebebeb;

              span {
                color: $red-color;

              }

              .option-subtitle {
                margin-bottom: 0px;
                padding-left: 8px;
                color: $navy-accent-color;
                font-weight: lighter;
                // font-size: 0.8em;
              }
              .option-data {
                padding-left: 30px;
                color: $grey2-accent-color;
                font-weight: bold;
    
                  select {
                    cursor: pointer;
                    color: $red-color;
                    border: none;
                    outline: none;
                    width: 100%;
                    font-weight: bold;
                }
                
              }
              .cost {
                font-size: 1.5em;
                padding: 20px;
                color: $red-color;

                
              }
          }         
          
        }

        .loading-spinner {
            width: 20px;
            height: 20px;
            margin: 0 auto;
            border: 2px solid #ebebeb;
            border-top: 2px solid #ff5156;
            border-radius: 50%;
            animation: spin 2s linear infinite;
        }
          
        @keyframes spin {
            from {
              transform: rotate(0deg);
            }
            to {
              transform: rotate(360deg);
            }
        }

        .btn-order {
            color: #ffff;
            // width: 400px;
            background-color: #ff5156;
            border-color: #ff5156;
            font-size: 1.2em;
            margin-top: 10px;
        }
        .btn-clear {
          color: $navy-accent-color;
          // width: 400px;
          background-color: #ebebeb;
          border-color: #ebebeb;
          font-size: 1.2em;
          margin-top: 40px;
      }
        
        &::-webkit-scrollbar {
            width: 4px; /* Szerokość suwaka */
        }
        
        &::-webkit-scrollbar-thumb {
            background-color: #bbb4b4; /* Kolor suwaka */
            // border-radius: 5px; /* Zaokrąglenie kształtu suwaka */
        }
        
        &::-webkit-scrollbar-track {
            background-color: #f1f1f1; /* Kolor tła suwaka */
        }
        
  
      small {
        font-size: 0.8em;
        color: $red-color;
      
      }
      .summary-cost {
        background-color: #ebebeb;
        // margin: 10px;
        margin-top: 20px;
        border-radius: 5px;
      }
    }

    .planes {
        overflow: auto;
        flex-basis: 70%;
        padding: 20px;
        max-height: 100vh;
        // background-color: #ffff;
        box-shadow: 0px 0px 22px 0px rgba(134, 138, 154, 0.5);
        border-radius: 0px 22px 22px 0px;
        background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.5)), url(../../../assets/img/background_airplane_large.png);
        // background-color: #ebebeb;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;     
        
      &::-webkit-scrollbar {
          width: 4px; /* Szerokość suwaka */
      }
      
      &::-webkit-scrollbar-thumb {
          background-color: #bbb4b4; /* Kolor suwaka */
          // border-radius: 5px; /* Zaokrąglenie kształtu suwaka */
      }
      
      &::-webkit-scrollbar-track {
          background-color: #f1f1f1; /* Kolor tła suwaka */
      }
    }
    

}