<div class="container">
    <div class="section">
        <div class="title">
            <h2>Welcome Air Flight</h2>
            <p>........</p>
        </div>

        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="../../../assets/img/icon_welcome.jpg" alt="Card image cap">
            <div class="card-body">
              <p class="card-text"> <span>Get started</span>  Online tickets at the lowest prices. Check airline ticket prices!</p>
            </div>
          </div>

          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="../../../assets/img/icon_search_flight.jpg" alt="Card image cap">
            <div class="card-body">
              <p class="card-text"> <span>Search Air Flight</span> Compare Airlines and find the flight deals. Search one and done! Book the best flights for your next destination.</p>
            </div>
          </div>

          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="../../../assets/img/icon_book_flight.jpg" alt="Card image cap">
            <div class="card-body">
              <p class="card-text"> <span>Book Air flight</span> Book International flight tickets. You can easly compare prices od multiple airlines to get your air tickets at lowest price.</p>
            </div>
          </div>

          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="../../../assets/img/icon_print_ticket.jpg" alt="Card image cap">
            <div class="card-body">
              <p class="card-text"> <span>Get your Air Ticket</span> You can print the e-ticket at your convenience as soon as you book your flight.</p>
            </div>
          </div>
             
        <button type="button" class="btn slice">Search flights</button>
    </div>
</div>

