<div class="container">
     <div class="section">
        <div class="title">
            <h2>Welcome</h2>
            <h2>Air Flight</h2>
            <p class="plane-icon"><i class="fa-solid fa-plane"></i></p>
        </div>

        <div class="card-group">
            <div class="card mx-3">
                <img class="card-img-top" src="../../../assets/img/icon_welcome.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Get started</h5>
                    <p class="card-text">Online tickets at the lowest prices. Check airline ticket prices!</p>
                </div>
            </div>
            <div class="card mx-3">
                <img class="card-img-top" src="../../../assets/img/icon_search_flight.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Search Air Flight</h5>
                    <p class="card-text">Compare Airlines and find the flight deals. Search one and done! Book the best
                        flights for your next destination.</p>
                </div>
            </div>
            <div class="card mx-3">
                <img class="card-img-top" src="../../../assets/img/icon_book_flight.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Book Air flight</h5>
                    <p class="card-text">Book International flight tickets. You can easly compare prices od multiple
                        airlines to get your air tickets at lowest price.</p>
                </div>
            </div>
            <div class="card mx-3">
                <img class="card-img-top" src="../../../assets/img/icon_print_ticket.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Get your Air Ticket</h5>
                    <p class="card-text">You can print the e-ticket at your convenience as soon as you book your flight.
                    </p>
                </div>
            </div>
        </div>

        <button type="button" class="btn" [routerLink]="['/search']">Search flights<i
                class="fa-solid fa-plane"></i></button>
    </div>
</div>