*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-image: url(assets/background_large.jpg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
}