<body>
    
    <div class="card">
       <div class="img one">
        <h4>Discover card to get a discount</h4>
    </div>
       <div class="text text-one">
           <h3>30% discount on second ticket</h3>
           <p>Enter code: <span>XY764egf</span></p>
       </div>
   </div> 

   <div class="card">
       <div class="img two">
        <h4>Discover card to get a discount</h4>
       </div>
       <div class="text text-two">
           <h3>25% discount on next booking</h3>
           <p>Enter code: <span>24eThg6</span></p>
       </div>
   </div>
</body>